<!DOCTYPE HTML>
{% load staticfiles %}
<html>
	<head>
		<title>Online Library System</title>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href="{% static 'assets/images/icon.png' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="{% static 'assets/js/ie/html5shiv.js' %}"></script>
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/ie9.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/ie8.css' %}" />
	</head>
	<body>
			<div id="page-wrapper">
			{% block login %}
					<header id="header" class="alt">
						<h1><a href="http://127.0.0.1:8000">Online Library System</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="http://127.0.0.1:8000">Home</a></li>
								<li><a href="http://127.0.0.1:8000/collection">Acervo</a></li>
								<li><a href="http://127.0.0.1:8000/registerlibrarian">Cadastrar Bibliotecario</a></li>
								<li><a href="http://127.0.0.1:8000/registerstudent">Registrar Aluno</a></li>
								<li><a href="http://127.0.0.1:8000/registerbook">Registrar Livro</a></li>
								<li><a href="http://127.0.0.1:8000/contact">Contato</a></li>
								<li><a href="http://127.0.0.1:8000/logout_view">Logout</a></li>
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>
			{% block corpo %}
			{% endblock %}
            {% endblock %}
					<section id="footer">
						<div class="inner">							
							<ul class="copyright">
								<li>&copy; Untitled Inc. All rights reserved.</li><li><a href="http://127.0.0.1:8000/contact">Entre em contato conosco</a></li>
							</ul>
						</div>
					</section>
            </div>
            
                <script src="{% static 'assets/js/skel.min.js' %}"></script>
                <script src="{% static 'assets/js/jquery.min.js' %}"></script>
                <script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
                <script src="{% static 'assets/js/util.js' %}"></script>
                <script src="{% static 'assets/js/main.js' %}"></script>
            
    </body>
</html>