{% extends "base.html" %} 
{% load staticfiles %}
    {% block corpo %}
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>Acervo</h2>
							</div>
						</header>

							<div class="wrapper">
								<div class="inner">
									{% for b in bl %}
									<h3 class="major">Nome:  {{b.name_book}}</h3>
									 <p>Autor:  {{b.author_book}}<br/>
									    Assunto:  {{b.subject_matter}}<br/>
									    Ano:  {{b.year}}<br/>
									    Edição:  {{b.edition}}<br/>										
									    Editora:  {{b.publishing_company}}</p>
									{% endfor %}
								</div>
							</div>
					</section>
	{% endblock %}