{% extends "base.html" %} 
{% load staticfiles %}
    {% block corpo %}
    {% for b in bl %}
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
          <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
            <h4 class="mdl-cell mdl-cell--12-col">{{b.name_book}}</h4>
            
            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
              <div class="section__circle-container__circle mdl-color--primary"></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
              <h5>Informações</h5>
              Autor:  {{b.author_book}}<br/>
			  Assunto:  {{b.subject_matter}}<br/>
			  Ano:  {{b.year}}<br/>
			  Edição:  {{b.edition}}<br/>										
			  Editora:  {{b.publishing_company}}<br/>
            </div>
                      
          </div>
          <div class="mdl-card__actions">
            <a href="#" class="mdl-button">Excluir</a>
            <a href="#" class="mdl-button">Alterar</a>
          </div>
        </div>
      </section>
      {% endfor %}
    {% endblock %}