{% extends "base.html" %} 
{% load staticfiles %}
    {% block corpo %}
        <section class="section--center mdl-grid mdl-grid--no-spacing">
          <div class="mdl-cell mdl-cell--12-col">
            <h4>Contato</h4>
            
            <form action="#">
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="sample1">
                <label class="mdl-textfield__label" for="sample1">Nome</label>
              </div>
            </form>

            <form action="#">
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="sample1">
                <label class="mdl-textfield__label" for="sample1">Email</label>
              </div>
            </form>

            <form action="#">
              <div class="mdl-textfield mdl-js-textfield">
                <textarea class="mdl-textfield__input" type="text" rows= "6" id="sample5" ></textarea>
                <label class="mdl-textfield__label" for="sample5">Mensagem</label>
              </div>
            </form>

            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
              Enviar Mensagem
            </button>

            <h5 id="lorem1">Endereços</h5>
            <ul>
              <li>Untitled Inc<br />
                1234 Somewhere Road Suite #2894<br />
                Nashville, TN 00000-0000</li>
              <li>(89) 999402-2722</li>
              <li>information@untitled.tld</li>
              <li>twitter.com/untitled-tld</li>
              <li>facebook.com/untitled-tld</li>
              <li>instagram.com/untitled-tld</li>
            </ul>
          </div>
        </section>
    {% endblock %}