{% extends "base.html" %}
{% load staticfiles %}
	{% block corpo %}
	     <div class="mdl-grid mdl-card__title mdl-cell--4-col mdl-cell--2-offset">
			<div class="mdl-cell mdl-cell--4-col">
				<div class="demo-card-wide mdl-card mdl-shadow--2dp">
					<div class="mdl-card__title">
						<h2 class="mdl-card__title-text">Bem vindo {{ user.username }}</h2>
						</div>
						<div class="mdl-card__supporting-text">
							  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							  Mauris sagittis pellentesque lacus eleifend lacinia...
						</div>
						<div class="mdl-card__actions mdl-card--border">
							<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
								MEU PERFIL
							</a>
						</div>
				</div>
			</div>
		  </div>
		 				
		{% endblock %}
