{% extends "base.html" %} 
{% load staticfiles %}
    {% block corpo %}
    <div class="mdl-card mdl-card__title mdl-cell--4-col mdl-cell--4-offset mdl-shadow--2dp">

        <h4>Cadastrar Livro</h4>
        <form action="post" action="">{% csrf_token %}
            <div class="mdl-grid center-items">
            
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" tabindex="1" name="name_book" id="n">
                        <label class="mdl-textfield__label" for="sample1">Nome do Livro</label>
                    </div>
                            
                
                            
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" tabindex="2" name="author_book" id="na">
                            <label class="mdl-textfield__label" for="sample1">Nome do Autor</label>
                        </div>
                            
                
                            
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" tabindex="3" name="subject_matter" id="sm">
                            <label class="mdl-textfield__label" for="sample1">Assunto</label>
                        </div>
                            
                
                            
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" tabindex="4" name="year" id="a">
                            <label class="mdl-textfield__label" for="sample2">Ano</label>
                            <span class="mdl-textfield__error">Apenas Numeros!</span>
                        </div>
                            
                  
                            
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" name="edition" id="e">
                            <label class="mdl-textfield__label" for="sample1">Edição</label>
                        </div>
                            
                
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" name="publishing_company" id="ed">
                            <label class="mdl-textfield__label" for="sample1">Editora</label>
                        </div>

                        <button type="submit" class="mdl-grid--no-spacing mdl-cell mdl-button mdl-js-button mdl-button--raised mdl-button--accent"><i class="material-icons">save</i> Salvar</button>

                </div>

                
                    
            </form>

    </div>
    {% endblock %}