{% extends "base.html" %} 
{% load staticfiles %}
    {% block corpo %}
    <section class="section--center mdl-grid mdl-grid--no-spacing">
        <div class="mdl-cell mdl-cell--12-col">
            <h4>Cadastro de Livros</h4>
            <form method="post" action="">{% csrf_token %}
                    <form action="#">
                            <div class="mdl-textfield mdl-js-textfield">
                              <input class="mdl-textfield__input" type="text" tabindex="1" name="name_book" id="n">
                              <label class="mdl-textfield__label" for="sample1">Nome do Livro</label>
                            </div>
                        </form>
            
                        <form action="#">
                            <div class="mdl-textfield mdl-js-textfield">
                              <input class="mdl-textfield__input" type="text" tabindex="2" name="author_book" id="na">
                              <label class="mdl-textfield__label" for="sample1">Nome do Autor</label>
                            </div>
                        </form>
            
                        <form action="#">
                            <div class="mdl-textfield mdl-js-textfield">
                              <input class="mdl-textfield__input" type="text" tabindex="3" name="subject_matter" id="sm">
                              <label class="mdl-textfield__label" for="sample1">Assunto</label>
                            </div>
                        </form>
            
                        <form action="#">
                            <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" tabindex="4" name="year" id="a">
                            <label class="mdl-textfield__label" for="sample2">Ano</label>
                            <span class="mdl-textfield__error">Apenas Numeros!</span>
                            </div>
                        </form>
              
                        <form action="#">
                            <div class="mdl-textfield mdl-js-textfield">
                              <input class="mdl-textfield__input" type="text" tabindex="5" name="edition" id="e">
                              <label class="mdl-textfield__label" for="sample1">Edição</label>
                            </div>
                        </form>
            
                        <form action="#">
                            <div class="mdl-textfield mdl-js-textfield">
                              <input class="mdl-textfield__input" type="text" tabindex="6" name="publishing_company" id="ed">
                              <label class="mdl-textfield__label" for="sample1">Editora</label>
                            </div>
                        </form>    
                        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                Cadastrar
                        </button>
            </form>              

            
           
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                Cancelar
            </button>
        </div>
      </section>
    
  
    {% endblock %}